html {
	height: 100%;
  font-family: 'Ubuntu',Tahoma,sans-serif;
}

body {
	margin: 0px !important;
	background-repeat: repeat;
	background-attachment: fixed;
	background-position-x: 50%;
	font-family: 'Nunito', sans-serif;
  font-family: 'Ubuntu',Tahoma,sans-serif;
	font-family: 'Lato', sans-serif;
	color: #3f3f3f;
	font-size: 13px;
	
}

#headerwrap{
	background-color: #3f3f3f;;
	width: 100%;
	height: 60px;
}

#main{
	display:block;
}

#timetablewrapper {
  width: 1200px;
	margin: 40px auto 50px;
	position: relative;
	height: 570px;
	
}

#selectionarea {
	width: 1100px;
	margin: 20px auto 50px;
	position: relative;
	height: 100%;
	min-height: 450px;
}

#multiSelectionarea {
	width: 1100px;
	margin: 30px auto 0px;
	position: relative;
	height: 30px;
}


#footerwrapper{
	background-color: #3f3f3f;;
	width: 100%;
	color: white;
	height: 60px;
	text-align: center;
	padding-top: 20px;
}

.selectionSubArea{
	width: 356px;
	padding-right: 10px;
	height: 100px;
	color:black;
	float: left;
}

 
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  margin: 0px auto;
  padding-top: 10px;
  text-align: center;
  min-width: 1200px;
}

h3 {
	margin-top: 7px;
	margin-bottom: 10px;
}

h5 {
	margin-top: 7px;
	margin-bottom: 9px;
}



.semesterButton {
	height: 44px;
	width: 220px;
	padding-top: 0px;
	text-align: center;
	background-color: #3f3f3f;
	color: white;
	font-weight: bold;
	float: left;
	border-radius: 3px;
}

.semesterButton:hover {
	background-color: #979797;
}

#ss2016Button {
	margin-left: 15px;
}

.selectionButton {
	height: 44px;
	width: 120px;
	padding-top: 0px;
	text-align: center;
	background-color: #3f3f3f;
	color: white;
	font-weight: bold;
	float: left;
	border-radius: 3px;
}

.selectionButton:hover {
	background-color: #979797;
}


#allSelectionButton, #undoButton, #redoButton {
	margin-left: 15px;
}



.selectionIcon {
	height: 30px;
	width: 30px;
	background-size: contain;
	float: left;
	margin-right: 7px;
	margin-top: 7px;
	margin-left: 7px;
}


#removeIcon {
	background-image: url("../img/unSelectAll.png");
}


#selectAllIcon {
	background-image: url("../img/selectAll.png");
}

#undoIcon {
	background-image: url("../img/undo.png");
}

#redoIcon {
	background-image: url("../img/redo.png");
}

#creditsSum {
	height: 32px;
	width: 70px;
	padding-top: 12px;;
	margin-left: 1030px;
	text-align: center;
	background-color: #3f3f3f;
	color: white;
	font-weight: bold;
	border-radius: 3px;
}

.hour {
	position: absolute;
	padding-top: 10px;
	text-align: center;
}

.weekday {
	position: absolute;
	height: 50px;
	background-color: #e8e8e8;
	top: 0px;
  text-align: center;
	padding-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.line {
	position: absolute;
	background-color: #E2E2E2;
}

.universitySquare {
	width: 10px;
	height: 10px;
	float: left;
	margin-top: 4px;
	margin-right: 5px;
	border-radius: 5px;
}

.lecture {
	position: absolute;
	padding: 2px;
	overflow: hidden;
	color: white;
	font-size: 12px;
	word-wrap: normal;
}

.title {
	font-size: 14px;
	height: 15px;
	text-align: center;
	margin-top: 5px;
}

.lecturer {
	height: 15px;
	text-align: center;
	margin-top: 3px;
}

.iconContainer {
	height: 18px;
	margin-top: 3px;
}

.englishImage {
	height: 18px;
	width: 18px;
	background-image: url("../img/englishBlack.png");
	background-size: contain;
	float: left;
}


.germanImage {
	height: 18px;
	width: 18px;
	background-image: url("../img/germanBlack.png");
	background-size: contain;
	float: left;
}

.oneWeek {
	height: 18px;
	width: 18px;
	background-image: url("../img/week.png");
	background-size: contain;
	float: left;
	margin-right: 3px;
}



.twoWeek {
	height: 18px;
	width: 18px;
	background-image: url("../img/twoweek.png");
	background-size: contain;
	float: left;
	margin-right: 3px;
}

.lectureType {
	height: 16px;
	width: 19px;
	float: left;
	text-align: center;
	font-weight: bold;
	padding-top: 3px;
	font-size: 10px;
}

.credits {
	height: 14px;
	width: 14px;
	float: left;
	margin-right: 3px;
	text-align: center;
	font-weight: bold;
	border-style: dotted;
	border-radius: 15px;
	font-size: 11px;
}
.spacer {
	height: 14px;
	float: left;
	text-align: center;
	overflow: hidden;
	
}

#TU{
	background-color: #DEB196;
}

#TU:hover{
	background-color: #e7c8b5;
}

#HU_WiWi{
	background-color: #4EB2C1;
}

#HU_WiWi:hover{
	background-color: #83c9d3;
}

#FU{
	background-color: #7A64B2;
}

#FU:hover{
	background-color: #a192c9;
}

#HU_Lebenswissenschaften{
	background-color: #D56272;
}

#HU_Lebenswissenschaften:hover{
	background-color: #DF8995;
}


#HU_Mathe{
	background-color: #EFBB26;
}

#HU_Mathe:hover{
	background-color: #f3ca57;
}

#Charite{
	background-color: #CB282C;	
}

#Charite:hover{
	background-color: #da686b;	
}

#WIAS{
	background-color: #3AA76A;
}

#WIAS:hover{
	background-color: #75c196;
}


.myCheckbox input {
    display: none;
}

.myCheckbox span {
    width: 10px;
    height: 10px;
		border-radius: 2px;
		float: left;
    display: block;
    background: white;
		margin-right: 5px;
		margin-top: 2px;
		margin-left: 2px;
    border-style: solid;
    border-width: 1px;
}
/*
.myCheckbox span:hover {
    background: #4EB2C1
} 

.myCheckbox input:checked + span:hover {
    background: white !important
}
*/
.myCheckbox input:checked + span {
    background: #4EB2C1
}

.myCheckbox span#TU_Span{
    border-color: #DEB196;
}

.myCheckbox input:checked + span#TU_Span{
    background: #DEB196
}

.myCheckbox span#HU_WiWi_Span{
    border-color: #4EB2C1;
}

.myCheckbox input:checked + span#HU_WiWi_Span{
    background: #4EB2C1
}

.myCheckbox span#FU_Span{
    border-color: #7A64B2;
}

.myCheckbox input:checked + span#FU_Span{
    background: #7A64B2
}

.myCheckbox span#HU_Lebenswissenschaften_Span{
    border-color: #D56272;
}

.myCheckbox input:checked + span#HU_Lebenswissenschaften_Span{
    background: #D56272
}

.myCheckbox span#HU_Mathe_Span{
    border-color: #EFBB26;
}

.myCheckbox input:checked + span#HU_Mathe_Span{
    background: #EFBB26
}

.myCheckbox span#Charite_Span{
    border-color: #CB282C;
}

.myCheckbox input:checked + span#Charite_Span{
    background: #CB282C
}

.myCheckbox span#WIAS_Span{
    border-color: #3AA76A;
}

.myCheckbox input:checked + span#WIAS_Span{
    background: #3AA76A
}
